*{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

html{
	scroll-behavior: smooth;
	background-color: #F9F9F9;
}

.intro{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:1.5%;
}

h1{
	font-size:35px;
	position: absolute;
	top: 9%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 400;
}

.front-page{
	height:100%;
	width:100%;
}

.scroll_down {
	text-align: center;
	width:100px;
	margin-left:-50px;
	position: absolute;
	bottom:20px;
	left:50%;
}

.about{
	display:block;
	margin:0 auto;
	width:60%;
}


ul.nav > li > a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	color: black;
	margin:10px;
}


ul.nav {
	list-style: none;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top:1%;
}
.flex{
	display:flex;
	flex-direction:row;
	justify-content: center;
	flex-wrap:wrap;
}

.box{
	width:280px;
	height:280px;
	margin:30px;
	background-color:white;
	border: 1px solid #e1e4e8	;
	text-align:center;
}

.box:hover{
	transform: scale(1.05);
}

.sampleProj{
	display:block;
	margin:0 auto;
	text-align: left;
	width:70%;
}

.boximg{
	margin-top:10%;
	width:280px;
}

.details{
	font-size:16px;
}

.register{
	display:block;
	margin:0 auto 70 auto;
	width:200px;
	height:50px;
	background-color:#BFCFFF;
	color:black;
	font-weight: 400;
	border-radius:4px;
	text-decoration: none;
	border:white;
}

button:hover{
	transform: scale(1.05);
}

button:focus {
	outline:0;
}

@media only screen and (max-width: 600px) and (min-width:415px) {
	img.frontPic {
		width: 500px;
	}

	h1{
		font-size:29px;
	}
}

@media only screen and (max-width: 414px) {
	img.frontPic {
		width: 350px;
	}

	h1{
		top:4%;
		font-size:27px;
	}

	ul.nav > li > a{
		font-size: 12px;
		margin:8px;
	}

	.scroll_down{
		top:110%;
	}

	.details{
		font-size:11px;
	}

	ul.nav{
		justify-content: center;
	}

	h2{
		font-size:20px;
	}

	.box, .boximg{
		width:250px;
	}
}







