/*
https://static.dribbble.com/users/279765/screenshots/6394444/girlworking_2x_2x.png
https://www.kindpng.com/picc/m/370-3704903_programmer-illustration-hd-png-download.png
https://effortz.com/images/resource/illustration-20.png
ttps://image.freepik.com/free-vector/pair-programming-concept-illustration_114360-1812.jpg
*/
*{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

html{
	scroll-behavior: smooth;
	background-color: #F9F9F9;
}

.intro{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:1.5%;
}
img{
	width:600px;
	}

h1{
	font-size:35px;
	position: absolute;
	top: 9%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 400;
}

.front-page{
	height:100%;
	width:100%;
}

.scroll_down {
	text-align: center;
	width:100px;
	margin-left:-50px;
	position: absolute;
	bottom:20px;
	left:50%;
}

.about{
	display:block;
	margin:0 auto;
	width:60%;
}


ul.nav > li > a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	color: black;
	margin:10px;
}


ul.nav {
	list-style: none;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top:1%;
}

