*{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

html{
	scroll-behavior: smooth;
	background-color: #F9F9F9;
}

.intro{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:1.5%;
}

h1.shehacks{
	font-size:38px;
	position: absolute;
	top: 9%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 400;
}

.front-page{
	height:100%;
	width:100%;
}

.scroll_down {
	text-align: center;
	width:100px;
	margin-left:-50px;
	position: absolute;
	bottom:20px;
	left:50%;
}

.about{
	display:block;
	margin:0 auto;
	width:60%;
}


ul.nav > li > a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	color: black;
	margin:10px;
}


ul.nav {
	list-style: none;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top:1%;
}

a.main{
	justify-content: flex-start;	

}

.flex{
	display:flex;
	flex-direction:row;
	justify-content: center;
	flex-wrap:wrap;
}

.weekNum{
	font-weight: 400;
	font-size:23px;
	text-align:center;
}

.weekCur{
	line-height: 1.3;
	margin-right:19px;
}

.week{
	width:280px;
	height:280px;
	margin:30px;
	background-color:white;
	border:1px solid black;
}

.box{
	width:280px;
	height:280px;
	margin:30px;
	background-color:white;
	border: 1px solid #e1e4e8;
	text-align:center;
}

.box:hover{
	transform: scale(1.05);
}


.boximg{
	margin-top:10%;
	width:280px;
}

.details{
	font-size:16px;
}

.register{
	display:block;
	max-width:1000px;
	background-color:#BFCFFF;
	color:black;
	font-weight: 400;
	border-radius:4px;
	text-decoration: none;
	border:white;
	cursor:pointer;
	margin-top:50px;
	position: relative;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    height: 50%;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
}

h2.reg, h2.reg2{
	font-size:33px;
}

h2.reg{
	position:absolute;
	top:23%;
	left:13%;
}

h2.reg2{
	position:absolute;
	top:33%;
	left:13%;
}


a.regLink{
	font-size:16px;
	position:absolute;
	top:53%;
	left:17%;
	width:190px;
	padding-top:20px;
	height:40px;
	text-align: center;
	background-color: white;
	text-decoration: none;
	color:black;
	border-radius: 10px;
}

img.girlworking{
	width:400px;
	height:300px;
	position:absolute;
	top:10%;
	left:48%;
}

footer{
	width:100%;
	margin-top:100px;
	text-align:center;
	height:60px;
	background-color:white;
	color:gray;
	padding-top:40px;
}


.here{
	color:blue;
	cursor:pointer;
}

.here:hover{
	color:#ea6a91;
}

.sampleProj{
	font-size:21px;
	display: block;
	margin:50 auto 0 auto;
	text-align: center;
}

h2{
	font-weight: 400;
}

#background {
    position: relative;
    top: 0;
    left: 0;
    width: 98%;
    height:40%;
    background-color: #BFCFFF; 
    opacity:.9;
    padding:1%;
}

h1.program {
	display:block;
	margin:110px auto 0 auto;
	width:62%;
	font-weight:400;
	font-size:40px;
}

.about{
	padding-top:35px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  resize: none;
  margin:8px 0 8px 0;
}

input[type=submit] {
  width: 100%;
  background-color: #BFCFFF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #A6BCFF;
}


@media only screen and (max-width: 600px) and (min-width:415px) {
	img.frontPic {
		width: 500px;
	}

	h1{
		font-size:29px;
	}
}

@media only screen and (max-width: 414px) {
	img.frontPic {
		width: 350px;
	}

	h1{
		top:4%;
		font-size:27px;
	}

	ul.nav > li > a{
		font-size: 12px;
		margin:8px;
	}

	.scroll_down{
		top:110%;
	}

	.details{
		font-size:13px;
	}

	ul.nav{
		justify-content: center;
	}

	h2{
		font-size:20px;
	}

	.box, .boximg{
		width:250px;
	}

	.about{
		width:75%;
	}

	footer{
		height:40px;
		padding-top:20px;
	}

}







